<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2017 Jin Kwon &lt;onacit at gmail.com&gt;.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="com.github.jinahya.openfire.persistence.ibatis.mapper.OfMucServiceMapper">
    
  <resultMap id="resultMap" type="com.github.jinahya.openfire.persistence.ibatis.mapper.OfMucService">
    <id column="serviceID" property="serviceId"/>
    <result column="sudbomain" property="subdomain"/>
    <result column="description" property="description"/>
    <result column="isHidden" property="hidden"/>
  </resultMap>

  <sql id="sqlColumns">
    ${alias}serviceID   AS ${prefix}serviceID,
    ${alias}subdomain   AS ${prefix}subdomain,
    ${alias}description AS ${prefix}description,
    ${alias}isHidden    AS ${prefix}isHidden
  </sql>

  <!--  
  <insert id="insert" useGeneratedKeys="true" keyColumn="serviceID" keyProperty="entity.serviceId">
    INSERT INTO ${catalog}${schema}ofMucService (
    subdomain,
    description,
    idHidden
    ) VALUES (
    #{entity}.subdomain,
    #{entity}.description,
    #{entity}.hidden
    )
  </insert>
  -->

  <select id="selectOne01" resultMap="resultMap" fetchSize="1">
    SELECT
    <include refid="sqlColumns">
      <property name="alias" value=""/>
      <property name="prefix" value = "">
    </include>
    FROM
    ${catalog}${schema}ofMucService
    WHERE
    1 = 1
    <if test="serviceId != null">
      AND serviceID = #{serviceId}
    </if>
    <if test="subdomain != null">
      AND subdomain = #{subdomain}
    </if>
  </select>

  <select id="selectList01" resultMap="resultMap">
    SELECT * FROM ${catalog}${schema}ofMucService
    WHERE 1 = 1
    <if test="serviceId != null">
      AND serviceID = #{serviceId}
    </if>
    <if test="subdomain != null">
      AND subdomain = #{subdomain}
    </if>
    ORDER BY
    <choose>
      <when test="natural">
        subdomain
      </when>
      <otherwise>
        serviceID
      </otherwise>
    </choose>
    <include refid="com.github.jinahya.opnefire.persistence.ibatis.mapper.OfMucMapper.sqlAscending"/>
  </select>

</mapper>
